{% extends "reviews/base.html" %}

{% block title %}

{% endblock title %}

{% block content %}
    <p>{{ review.user_name }}</p>
    <p>Rating: {{ review.rating }}</p>
    <p>{{ review.review_text }}</p>
    {% if is_favorite %}
        <p>This review is my favorite!</p>
    {% else %}
        <form action="/reviews/favorite" method="POST">
            {% csrf_token %}
            <input type="hidden" name="review_id" value="{{ review.id }}">
            <button>Favorite</button>
        </form>
    {% endif %}
    
{% endblock content %}